<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">UI/UX learner &copy; {{date format="YYYY"}}. All rights reserved.</div>
    <!-- <ul class="mdl-mini-footer__link-list">
      <li><a href="#">Help</a></li>
      <li><a href="#">Privacy & Terms</a></li>
    </ul> -->
  </div>
  <div class="mdl-mini-footer__right-section">
    <ul class="">
      <li class="footer__theme">Theme inspired by <a href="http://uno.daleanthony.com" title="link to page for Uno Ghost theme">Uno theme</a> by <a href="http://daleanthony.com" title="link to website for Dale-Anthony">Dale-Anthony</a> using the <a href="http://www.getmdl.io/"
        title="Get Material Design Lite">Material Design Lite Framework</a></li>
      <li class="footer__coverphoto">Blog cover <a href="https://www.flickr.com/photos/baldiri/5735001938/" title="link to Flicker page for photo of baldiri">foto</a> by <a href="http://baldiri.net">baldiri</a></li>
      <li class="footer__ghost">Proudly published with <a href="http://ghost.org" title="link to Ghost website">Ghost</a></li>
    </ul>
  </div>
</footer>
