<div class="share-box">
  <span class="share-text"></span>
  <div class="share-buttons">
    <a href="#" class="js-{{#is "post"}}post{{/is}}{{#is "index"}}index{{/is}}-twitter fa fa-twitter mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--icon"></a>
    <a href="#" class="js-{{#is "post"}}post{{/is}}{{#is "index"}}index{{/is}}-facebook fa fa-facebook mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--icon"></a>
    <a href="#" class="js-{{#is "post"}}post{{/is}}{{#is "index"}}index{{/is}}-googleplus fa fa-google-plus mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--icon"></a>
    <a href="#" class="js-{{#is "post"}}post{{/is}}{{#is "index"}}index{{/is}}-email fa fa-envelope mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--icon"></a>
  </div>
</div>
