<div class="social-box">
  <a href="http://www.twitter.com/jmtalarn" title="@UIUXlearner on Twitter" class="mdl-button mdl-js-button mdl-button--icon">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="https://careers.stackoverflow.com/jmtalarn" title="Joan Maria Talarn on StackOverflow" class="mdl-button mdl-js-button mdl-button--icon">
    <i class="fa fa-stack-overflow"></i>
  </a>
  <a href="https://github.com/jmtalarn" title="Joan Maria Talarn on GitHub" class="mdl-button mdl-js-button mdl-button--icon">
    <i class="fa fa-github"></i>
  </a>
  <a href="mailto:jmtalarn+uiuxlearner@gmail.com" title="Email to jmtalarn+uiuxlearner@gmail.com" class="mdl-button mdl-js-button mdl-button--icon">
    <i class="fa fa-envelope"></i>
  </a>
  <a href="/blog/rss/" title="RSS feed" class="mdl-button mdl-js-button mdl-button--icon">
    <i class="fa fa-rss"></i>
  </a>
</div>
<!--nav class="cover-navigation navigation--social">
  <ul class="navigation">



  <li class="navigation__item">
    <a href="http://twitter.com/jmtalarn" title="@UIUXlearner on Twitter">
      <i class='icon icon-social-twitter'></i>
<span class="label">Twitter</span>
</a>
</li>

<li class="navigation__item">
  <a href="https://careers.stackoverflow.com/jmtalarn" title="Joan Maria Talarn on StackOverflow">
    <i class='icon icon-social-stack-overflow'></i>
    <span class="label">Dribbble</span>
  </a>
</li>


<li class="navigation__item">
  <a href="https://github.com/jmtalarn" title="Joan Maria Talarn on GitHub">
    <i class='icon icon-social-github'></i>
    <span class="label">Email</span>
  </a>
</li>


<li class="navigation__item">
  <a href="mailto:jmtalarn+uiuxlearner@gmail.com" title="Email jmtalarn+uiuxlearner@gmail.com">
    <i class='icon icon-mail'></i>
    <span class="label">Email</span>
  </a>
</li>


<li class="navigation__item">
  <a href="/blog/rss/" title="Subscribe">
    <i class='icon icon-rss'></i>
    <span class="label">RSS</span>
  </a>
</li>

</ul>
</nav -->
