.mdl-layout__header,
.mdl-layout__header-row,
.mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.blog-description .description {
  font-weight: lighter;
}

.mdl-layout__drawer {
  .margin1em{
    margin: 1em;
  }
  .top-line{
    border-top: 1px solid rgb(158,158,158);
  }
  .mdl-layout-title {
    text-align: center;
    padding: 0;
    img.logo {
      width: 8vw;
      //display: block;
      //margin: 0 auto;
    }

  }
}
.description {
  @extend .mdl-typography--body-1-force-preferred-font;
  @extend .mdl-typography--font-thin;

  text-align: justify;
}
//  {
//   &.links {
//     a.mdl-button {
//       display: none;
//     }
//   }
//
//   &.buttons {
//     a.mdl-navigation__link {
//       display: none;
//     }
//
//     a.mdl-button {
//       background-color: white;
//
//       &:hover {
//         background-color: rgb(224,224,224);
//       }
//     }
//   }
// }
//
//
//     nav {
//       .mdl-button {
//         border-radius: 20px;
//       }
//     }
//   }
// .social-box {
//   display: block !important;
// }
